{% extends "admin-base.html" %}

{% block content %}
<!-- CONTENT -->
<div class="col-md-9 col-lg-9">

    <h1>Users<button class="btn btn-md btn-primary float-right" onclick="Admin.user.create()"><i class="fas fa-plus-circle"></i> Create new user</button></h1>

    <div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Level</th>
            <th scope="col">Active</th>
            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Cmnds</th>
          </tr>
        </thead>
        <tbody>

          {% if rows|length == 0%}
          <tr>
            <td colspan="6">No users available</td>
          </tr>
          {% endif %}

          {% for row in rows %}
          <tr>
            <td scope="row">{{row['id']}}</td>
            <td>{{row['label']}}</td>
            <td>{% if row['active'] == 1 %}YES{% else %}NO{% endif %} </td>
            <td>{{row['name']}}</td>
            <td>{{row['email']}}</td>
            
            
            <td>
                <button type="button" class="btn btn-sm btn-primary" onclick="Admin.user.view({{row['id']}})"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-danger" onclick="Admin.user.delete({{row['id']}})"><i class="fa fa-trash"></i></button>
            </td>
          </tr>


          {% endfor %}


        </tbody>
      </table>
    </div>

</div>

{% endblock %}